/*POP UP CSS*/
#modal {
	/*visibility: hidden;*/
	width: 260px;
	height: 149px;
	padding: 8px;
	position: absolute !important;
	top: 25% !important;
	left: 50% !important;
	/*margin-top:-114px !important;*/
	margin-left: -135px !important;
	z-index: 999999;
}
.reveal-modal-bg {
	position: fixed;
	height: 100%;
	width: 100%;
	background: #000;
	background: rgba(0,0,0,.4);
	z-index: 100;
	display: none;
	top: 0;
	left: 0;
}
#content {
	width: 240px;
	/*height:150px;*/
	overflow: hidden;
	background: #fcfcfc;
	-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,.25);
	-moz-box-shadow: 0px 1px 3px rgba(0,0,0,.25);
	box-shadow: 0px 1px 3px rgba(0,0,0,.25);
	padding: 5px 10px 10px 10px;
}
#content1 {
	background: #fcfcfc;
	-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,.25);
	-moz-box-shadow: 0px 1px 3px rgba(0,0,0,.25);
	box-shadow: 0px 1px 3px rgba(0,0,0,.25);
	-webkit-border-radius: 0px 0px 4px 4px;
	-moz-border-radius: 0px 0px 4px 4px;
	border-radius: 0px 0px 4px 4px;
	height: 160px;
	padding: 2px 0px 0px 0px;
	width: 260px;
}
#content p {
	font-size: 13px;
	font-weight: normal;
	text-align: center;
	line-height: 22px;
	color: #000;
	width: 100%;
	float: left;
	text-shadow: none;
	margin: 19px 0;
}
#contentUser {
	width: 260px;
	overflow: hidden;
	background: #fcfcfc;
	-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,.25);
	-moz-box-shadow: 0px 1px 3px rgba(0,0,0,.25);
	box-shadow: 0px 1px 3px rgba(0,0,0,.25);
	/*-webkit-border-radius:0px 0px 4px 4px;
	-moz-border-radius:0px 0px 4px 4px;
	border-radius:0px 0px 4px 4px;*/
	/*padding-bottom:10px;*/
	padding-top: 5px;
}
#contentUser p {
	font-size: 15px;
	font-weight: normal;
	text-align: center;
	line-height: 22px;
	color: #000;
	width: 100%;
	float: left;
	text-shadow: none;
	margin: 19px 0;
}
#heading {
	width: 260px;
	height: 30px;
	background: #183c7e;
	background: -moz-linear-gradient(top, #183c7e 0%, #061f4f 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #183c7e), color-stop(100%, #061f4f));
	background: -webkit-linear-gradient(top, #183c7e 0%, #061f4f 100%);
	background: -o-linear-gradient(top, #183c7e 0%, #061f4f 100%);
	background: -ms-linear-gradient(top, #183c7e 0%, #061f4f 100%);
	background: linear-gradient(top, #183c7e 0%, #061f4f 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#183c7e', endColorstr='#061f4f', GradientType=0 );
	/*border-bottom:1px solid #bababa;*/
	-webkit-box-shadow: inset 0px -1px 0px #fff,  0px 1px 3px rgba(0,0,0,.08);
	-moz-box-shadow: inset 0px -1px 0px #fff,  0px 1px 3px rgba(0,0,0,.08);
	box-shadow: inset 0px -1px 0px #fff,  0px 1px 3px rgba(0,0,0,.08);
	-webkit-border-radius: 4px 4px 0px 0px;
	-moz-border-radius: 4px 4px 0px 0px;
	border-radius: 4px 4px 0px 0px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	line-height: 28px;
	color: #fff;
	text-shadow: none;
}
#contentUser a.ok_btn {
	background: #183c7e;
	background: -moz-linear-gradient(top, #183c7e 0%, #061f4f 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #183c7e), color-stop(100%, #061f4f));
	background: -webkit-linear-gradient(top, #183c7e 0%, #061f4f 100%);
	background: -o-linear-gradient(top, #183c7e 0%, #061f4f 100%);
	background: -ms-linear-gradient(top, #183c7e 0%, #061f4f 100%);
	background: linear-gradient(top, #183c7e 0%, #061f4f 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#183c7e', endColorstr='#061f4f', GradientType=0 );
	height: 27px;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	text-align: center;
	font-size: 13px;
	color: #fff;
	font-weight: bold;
	text-shadow: none;
	padding: 0;
	margin: 0 auto;
	margin-top: 5px;
	text-decoration: none;
	width: 40%;
	cursor: pointer;
	display: block;
	line-height: 24px;
	float: left;
}

a.ok_btn {
	background: #183c7e;
	background: -moz-linear-gradient(top, #183c7e 0%, #061f4f 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #183c7e), color-stop(100%, #061f4f));
	background: -webkit-linear-gradient(top, #183c7e 0%, #061f4f 100%);
	background: -o-linear-gradient(top, #183c7e 0%, #061f4f 100%);
	background: -ms-linear-gradient(top, #183c7e 0%, #061f4f 100%);
	background: linear-gradient(top, #183c7e 0%, #061f4f 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#183c7e', endColorstr='#061f4f', GradientType=0 );
	height: 32px;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	text-align: center;
	font-size: 13px;
	color: #fff;
	font-weight: bold;
	text-shadow: none;
	padding: 0;
	margin: 0 auto;
	/*margin-top: 5px;*/
	text-decoration: none;
	width: 40%;
	cursor: pointer;
	display: block;
	line-height: 32px;
	float: left;
}
a.ok_btn:hover {
	color: #fff;
	background: #1e5799;
	background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1e5799), color-stop(100%, #2989d8));
	background: -webkit-linear-gradient(top, #1e5799 0%, #2989d8 100%);
	background: -o-linear-gradient(top, #1e5799 0%, #2989d8 100%);
	background: -ms-linear-gradient(top, #1e5799 0%, #2989d8 100%);
	background: linear-gradient(to bottom, #1e5799 0%, #2989d8 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#2989d8', GradientType=0 );
}
#content a.ok_btn {
	background: #183c7e;
	background: -moz-linear-gradient(top, #183c7e 0%, #061f4f 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #183c7e), color-stop(100%, #061f4f));
	background: -webkit-linear-gradient(top, #183c7e 0%, #061f4f 100%);
	background: -o-linear-gradient(top, #183c7e 0%, #061f4f 100%);
	background: -ms-linear-gradient(top, #183c7e 0%, #061f4f 100%);
	background: linear-gradient(top, #183c7e 0%, #061f4f 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#183c7e', endColorstr='#061f4f', GradientType=0 );
	height: 27px;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	text-align: center;
	font-size: 13px;
	color: #fff;
	font-weight: bold;
	text-shadow: none;
	padding: 0;
	margin: 0 auto;
	margin-top: 5px;
	text-decoration: none;
	width: 40%;
	cursor: pointer;
	display: block;
	line-height: 24px;
	float: left;
}
#content a.ok_btn:hover {
	color: #fff;
	background: #1e5799;
	background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1e5799), color-stop(100%, #2989d8));
	background: -webkit-linear-gradient(top, #1e5799 0%, #2989d8 100%);
	background: -o-linear-gradient(top, #1e5799 0%, #2989d8 100%);
	background: -ms-linear-gradient(top, #1e5799 0%, #2989d8 100%);
	background: linear-gradient(to bottom, #1e5799 0%, #2989d8 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#2989d8', GradientType=0 );
}
#content a.ok_btn2 {
	background: #183c7e;
	background: -moz-linear-gradient(top, #183c7e 0%, #061f4f 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #183c7e), color-stop(100%, #061f4f));
	background: -webkit-linear-gradient(top, #183c7e 0%, #061f4f 100%);
	background: -o-linear-gradient(top, #183c7e 0%, #061f4f 100%);
	background: -ms-linear-gradient(top, #183c7e 0%, #061f4f 100%);
	background: linear-gradient(top, #183c7e 0%, #061f4f 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#183c7e', endColorstr='#061f4f', GradientType=0 );
	height: 27px;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	text-align: center;
	font-size: 13px;
	color: #fff;
	font-weight: bold;
	text-shadow: none;
	padding: 0;
	margin: 0 auto;
	/*margin-top:5px;*/
	text-decoration: none;
	width: 40%;
	cursor: pointer;
	display: block;
	line-height: 24px;
}
#content a.ok_btn2:hover {
	color: #fff;
	background: #1e5799;
	background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1e5799), color-stop(100%, #2989d8));
	background: -webkit-linear-gradient(top, #1e5799 0%, #2989d8 100%);
	background: -o-linear-gradient(top, #1e5799 0%, #2989d8 100%);
	background: -ms-linear-gradient(top, #1e5799 0%, #2989d8 100%);
	background: linear-gradient(to bottom, #1e5799 0%, #2989d8 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#2989d8', GradientType=0 );
}
#contentUser a.ok_btn:hover {
	color: #fff;
	background: #1e5799;
	background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1e5799), color-stop(100%, #2989d8));
	background: -webkit-linear-gradient(top, #1e5799 0%, #2989d8 100%);
	background: -o-linear-gradient(top, #1e5799 0%, #2989d8 100%);
	background: -ms-linear-gradient(top, #1e5799 0%, #2989d8 100%);
	background: linear-gradient(to bottom, #1e5799 0%, #2989d8 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#2989d8', GradientType=0 );
}
.menu_btns {
	width: 90%;
	margin: 0 auto;
	padding: 0px 0 0 30px;
	overflow: hidden;
}
#no {
	margin-left: 16px !important;
}
.ok_Btn2 {
	background: #183c7e;
	background: -moz-linear-gradient(top, #183c7e 0%, #061f4f 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #183c7e), color-stop(100%, #061f4f));
	background: -webkit-linear-gradient(top, #183c7e 0%, #061f4f 100%);
	background: -o-linear-gradient(top, #183c7e 0%, #061f4f 100%);
	background: -ms-linear-gradient(top, #183c7e 0%, #061f4f 100%);
	background: linear-gradient(top, #183c7e 0%, #061f4f 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#183c7e', endColorstr='#061f4f', GradientType=0 );
	height: 32px;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	text-align: center;
	font-size: 13px;
	color: #fff;
	font-weight: bold;
	text-shadow: none;
	padding: 0;
	margin: 0 auto;
	/*margin-top: 5px;*/
	text-decoration: none;
	width: 40%;
	cursor: pointer;
	display: block;
	line-height: 32px;
	float: left;
}
.ok_Btn2:hover {
	color: #fff;
	background: #1e5799;
	background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1e5799), color-stop(100%, #2989d8));
	background: -webkit-linear-gradient(top, #1e5799 0%, #2989d8 100%);
	background: -o-linear-gradient(top, #1e5799 0%, #2989d8 100%);
	background: -ms-linear-gradient(top, #1e5799 0%, #2989d8 100%);
	background: linear-gradient(to bottom, #1e5799 0%, #2989d8 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#2989d8', GradientType=0 );
}
#no_Btn2 {
	margin-left: 78px !important;
}
#no_Btn3 {
}
.popFooter {
	background: #DEDEDE;
	-webkit-border-radius: 0px 0px 4px 4px;
	-moz-border-radius: 0px 0px 4px 4px;
	border-radius: 0px 0px 4px 4px;
	padding: 10px 0;
	text-align: center;
	overflow: hidden;
}
/*POP UP CSS END*/